.chart{
    height: 50vh;
    width: 70vw;
}
.getbutton {
    cursor: pointer;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: #5eeae5;
    border: 1px solid #014040;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
  }